block variables
  - var title = "Contact - MosquitoBanUSA"
extends __default.jade

block content
  .section.pure-g.txt-center.bg-spilled-lime
    .pure-u-1-1
      h1 Contact Bill now!
    .pure-u-1-1
      include _typeform.jade
  .section.pure-g.txt-center
    .pure-u-1-3
      img.col-icon(src="/img/phone.svg")
      p Raleigh: #{phone.raleigh}
      p Cary: #{phone.cary}
      p Tollfree: #{phone.tollfree}
    .pure-u-1-3
      img.col-icon(src="/img/envelope-closed.svg")
      p: a(href="mailto:#{email}")= email
    .pure-u-1-3
      img.col-icon(src="/img/home.svg")
      p= phone.raleigh
      p= address.street
      p= address.city
